body {
  overflow-x: hidden;
 font-family: 'Montserrat', sans-serif;
 
}

.intro-section {
  padding-top: 70px
}

.hero {
   background: url(../img/bg.svg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

/* scroll down button */

.scroll-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.hero a:hover {
  cursor: pointer;
}

.mouse {
  width: 19px;
  height: 35.96px;
  border: 1px solid #000;
  border-radius: 2rem;
  margin-bottom: .5rem;
  display: flex;
}

.mouse span {
  width: 5px;
  height: 5px;
  background-color: #828282;
  border-radius: 50%;
  display: block;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

.arrow span {
  display: block;
  width: 8px;
  height: 8px;
  border: 2px solid transparent;
  border-right-color: #000;
  border-bottom-color: #000;
  transform: rotate(45deg);
  animation: arrow-down .5s alternate infinite;
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(5px);
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .25;
  }
  50% {
    opacity: .5;
  }
  75% {
    opacity: .75;
  }
  100% {
    opacity: 1;
  }
}

*:focus {
  outline: none !important;
}


.navbar {
  text-transform: capitalize;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: 0.1rem;
  background: transparent !important;
  height: 72px;
  color: #000000 !important;
}

.navbar-brand {
  font-size: 23px;
  color: #000000 !important;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #000000;
  padding-top: 0.8rem;
  font-size: 16px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  color: #F2994A;
  margin-top: 200px;
  font-family: 'Raleway', sans-serif;
}


.hair-display {
  margin-bottom: 30px;
}

.m-50 {
  margin-top: 60px;
}

.subscribe {
  margin-top: 100px;
}

.subscribe input {
  width: 400px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #F2994A;
  border-radius: 5px;
}

.btn-sub {
  background: #F2994A;
  border-radius: 5px;
  height: 50px;
  color: #fff;
  padding: 14px 35px;
}

.btn-sub:hover {
  color: #fff;
}

.hero img {
  height: 250px;
}

.hero img:hover {
  transform: scale(1.2);
  transition: all 2s ease-in;
}


/* media queries */

@media (max-width: 767px){

 

}